MONGODB_URI="mongodb://localhost:27017"
MONGODB_DB="kingofthecord"
PUBLIC_LOG_LEVEL="debug"
BODY_SIZE_LIMIT=Infinity
ORIGIN="http://localhost:5173"
PUBLIC_ORIGIN="http://localhost:5173"
PUBLIC_LOCAL_URL="http://localhost:5173"
